.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('https://th.bing.com/th/id/R.968db87f8ebf810ca9dae1f8502706bc?rik=W8XH1BasBUYUKw&riu=http%3a%2f%2fnewevolutiondesigns.com%2fimages%2ffreebies%2fdog-wallpaper-12.jpg&ehk=Rb%2bR1wrlJySv6Qz2SqYusyPxMhMQ%2bx1eW092%2fw%2bnKc8%3d&risl=&pid=ImgRaw&r=0'); /* Add the path to your dog image */
  /* background-size: cover; */
  /* background-position: center;  */
}

.signupForm {
  width: 90%;
  max-width: 400px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.signupForm h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signupForm label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.signupForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signupForm button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signupForm button:hover {
  background: #45a049;
}

.signupForm p {
  margin-top: 10px;
  text-align: center;
  color: #333;
}

.signupForm p a {
  color: #4caf50;
}
